$primary-palette: (
	50: #e0f1ea,
	100: #b3dccb,
	200: #80c4a9,
	300: #4dac86,
	400: #269b6c,
	500: #008952,
	600: #00814b,
	700: #007641,
	800: #006c38,
	900: #005928,
	A100: #8bffb4,
	A200: #58ff93,
	A400: #25ff72,
	A700: #0bff62,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
